<ui-view controller="controllers/Home.controller.mjs">
    <div id="readme" data-bind-html="readme"></div>

    <div style="width: inherit; display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: space-around;">
        <iframe scrolling="no" src="https://github-profile-summary-cards.vercel.app/api/cards/repos-per-language?username=werwolf2303&theme=transparent"></iframe>
        <iframe scrolling="no" src="https://github-profile-summary-cards.vercel.app/api/cards/most-commit-language?username=werwolf2303&theme=transparent"></iframe>
    </div>
</ui-view>
